# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
coverage/

# Misc
*.swp
*.swo

# Keycloak related
keycloak.json
